@import '../../assets/fonts/index.css';

.minimal-label {
    width: fit-content;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-block-end: 0;

    &.primary {
        font-family: "Nexa";

        &.paragraph,
        &.header5,
        &.header6 {
            margin-block-start: 0.5rem;
        }

        &.header1,
        &.header2,
        &.header3,
        &.header4 {
            margin-block-start: 1rem;
        }
    }

    &.secondary {
        font-family: "OpenSans";
    }

    &.paragraph {
        font-size: 1rem;
    }

    &.header1 {
        font-size: 6rem;
        font-weight: 900;
    }

    &.header2 {
        font-size: 5rem;
        font-weight: 700;
    }

    &.header3 {
        font-size: 4rem;
        font-weight: 500;
    }

    &.header4 {
        font-size: 3rem;
        font-weight: 500;
    }

    &.header5 {
        font-size: 2rem;
        font-weight: 500;
    }

    &.header6 {
        font-size: 1.15rem;
        font-weight: 300;
    }

}