$purple-100: #bfa4f9;
$purple-200: #b594fb;
$purple-300: #aa83fd;
$purple-400: #9f72fe;
$purple-500: #9361ff;

$white-100: #FFFFFF;
$white-200: #efefef;
$white-300: #e0e0e0;
$white-400: #d0d0d0;

$black-100: #c1c1c1;
$black-200: #949495;
$black-300: #6a696b;
$black-400: #424144;
$black-500: #1e1d20;

$green-100: #96f1bf;
$green-200: #7ef3af;
$green-300: #63f49e;
$green-400: #45f58a;
$green-500: #0cf574;


$re-use-color-primary: $purple-500;
$re-use-color-secondary: $green-500;

$re-use-color-dark: $black-500;
$re-use-color-light: $white-100;

$re-use-color-disabled-primary: $black-300;
$re-use-color-disabled-secondary: $black-400;