$purple-100: #bfa4f9;
$purple-200: #b594fb;
$purple-300: #aa83fd;
$purple-400: #9f72fe;
$purple-500: #9361ff;

$white-100: #FFFFFF;
$white-200: #efefef;
$white-300: #e0e0e0;
$white-400: #d0d0d0;

$black-100: #c1c1c1;
$black-200: #949495;
$black-300: #6a696b;
$black-400: #424144;
$black-500: #1e1d20;

$pink-100: #fc9cd5;
$pink-200: #fd87c9;
$pink-300: #fe6fbc;
$pink-400: #ff54ae;
$pink-500: #ff2e9e;


$min-color-primary: $purple-500;
$min-color-primary-dark: $purple-100;
$min-color-primary-darker: $purple-300;

$min-color-secondary: $pink-500;
$min-color-secondary-dark: $pink-100;
$min-color-secondary-darker: $pink-300;

$min-color-black: $black-500;
$min-color-white: $white-100;

$min-color-disabled-primary: $white-300;
$min-color-disabled-secondary: $black-300;